<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257882840853-qj9rad556ot2ho7m23aetq7sro21jrib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257882840853-qj9rad556ot2ho7m23aetq7sro21jrib</string>
	<key>API_KEY</key>
	<string>AIzaSyCETBGEXN_2zVCWB8dqi5X_yiHj3TGNmsc</string>
	<key>GCM_SENDER_ID</key>
	<string>257882840853</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emartApp</string>
	<key>PROJECT_ID</key>
	<string>emartgetxecommerce</string>
	<key>STORAGE_BUCKET</key>
	<string>emartgetxecommerce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257882840853:ios:debbe46ee96451f81e931c</string>
</dict>
</plist>